Source: grml-x
Section: grml
Priority: optional
Maintainer: Michael Prokop <mika@grml.org>
Build-Depends:
 debhelper-compat (= 13),
Build-Depends-Indep:
 asciidoc,
 docbook-xsl,
 xsltproc,
Standards-Version: 4.7.0
Homepage: https://github.com/grml/grml-x
Vcs-Git: https://github.com/grml/grml-x.git
Vcs-Browser: https://github.com/grml/grml-x
Origin: Grml
Bugs: mailto:bugs@grml.org

Package: grml-x
Architecture: all
Depends:
 python3,
 sudo,
 x11-xkb-utils,
 x11-xserver-utils,
 xauth,
 xinit,
 xserver-xorg | xserver,
 ${misc:Depends},
 ${shlibs:Depends},
Recommends:
 fluxbox | x-window-manager,
 grml-etc-core,
 x11-utils,
 xcursor-themes,
 xfonts-base,
 xserver-xorg-input-all,
 xserver-xorg-input-kbd,
 xserver-xorg-input-vmmouse,
 xserver-xorg-video-all,
 xterm | x-terminal-emulator,
Suggests:
 fonts-ttf-west-european,
 xfonts-100dpi,
 xfonts-75dpi,
 xfonts-base-transcoded,
Description: wrapper for startx for running X Window System
 grml-x generates a configuration for X server, supporting
 several options and using a hardware recognition system.
